/*  Fonts */
/* stylelint-disable */

$CR: "Circe", sans-serif;
$CEB: "Circe-ExtraBold";
$CB: "Circe-Bold";
$CL: "Circe-Light";
$CEL: "Circe-ExtraLight";
$NEB: "Neuron-ExtraBold";
$NDB: "Neuron-DemiBold";
$NL: "Neuron-Light";
$NR: "Neuron-Regular";

$base-font: "Circe", sans-serif;
$base-font-size: 14px;
$body-color: #000;

/* Breakpoints */
$small-xs: 375px;
$small: 720px;
$sTablet: 768px;
$lTablet: 1280px;
$lLaptop: 1440px;
$large: 1360px;
$desktop: 1280px;
$desktop-xl: 1920px;



/* Colors */

$Primary100: #0F6CBD;
$Primary200: #115EA3;
$Primary300: #0C3B5E;

$Disabled0: #BDBDBD;
$Disabled100: #F0F0F0;

$white: #fff;
$black: #000;
